@import '../../../variable';

.welcome {
  margin: 0 auto;
  width: 1024px;
  margin-top: 5rem;
  margin-bottom: 10rem;

  .header {
    overflow: hidden;

    .sub-header {
      background: linear-gradient(269.08deg, $primary 0%, $secondary 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      font-weight: 900 !important;
    }

    h1 {
      font-size: 48px;
    }
  }

  .button {
    box-shadow: 1px -1px 72px -12px rgba(71, 168, 229, 1);
    border: 1px solid #eeeeee;
    background: transparent;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 3rem;
    font-size: 16px;
    font-weight: bold;
    transition: all 300ms;

    &:hover {
      box-shadow: 0 0 72px -12px #ffffff;
    }
  }

  @media screen and (max-width: 1024px) {
    width: 768px;
  }

  @media screen and (max-width: 768px) {
    width: 100%;
    text-align: center;
  }
}
