@import '../../../variable';

.welcome {
  margin: 0 auto;
  width: 1024px;
  margin-top: 5rem;
  margin-bottom: 10rem;

  .header {
    overflow: hidden;

    .sub-header {
      background: linear-gradient(269.08deg, $primary 0%, $secondary 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      font-weight: 900 !important;
    }

    h1 {
      font-size: 48px;
    }
  }

  .links {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 20px;
  }

  @media screen and (max-width: 1024px) {
    width: 768px;
  }

  @media screen and (max-width: 768px) {
    width: 100%;
    text-align: center;
    .links {
      justify-content: center;
    }
  }
}
