.card-border {
  padding: 1px;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 1);

  .card {
    background: #000000;
    border-radius: 10px;
    padding: 10px 20px;

    .image {
      margin-block: 10px;
      border-radius: 10px;
      width: 100%;
    }
  }
}
