.about {
    margin: 0 auto;
    width: 1024px;
    margin-bottom: 10rem;

    .container {
        position: relative;
        display: flex;
        justify-content: space-between;
        gap: 50px;
        align-items: center;
        flex-direction: row;

        .model {
            width: 50%;
            height: 300px;
        }

        .content {
            width: 50%;
        }

        @media screen and (max-width: 1090px) {
            flex-direction: column;
            justify-content: center;

            .model, .content {
                width: 100%;
            }
        }
    }

    @media screen and (max-width: 1090px) {
        width: 100%;
    }
}