.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  padding: 20px 30px;
  backdrop-filter: blur(10px);
  z-index: 10;

  a {
    text-decoration: none;
  }

  .links {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;

    .link__text {
      transition: all 300ms;
      color: #b4b4b4;
      font-weight: 500;
      font-size: 15px;

      &:hover {
        color: #FFFFFF;
        text-shadow: #FFFFFF 1px 0 10px;
      }
    }
  }

  @media screen and (max-width: 580px) {
    display: none;
  }
}

.navbar-mobile {
  display: none;

  @media screen and (max-width: 580px) {
    display: block;
  }

  .nav {
    @extend .navbar;

    @media screen and (max-width: 580px) {
      display: flex;
      justify-content: space-between;
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;

    a {
      text-decoration: none;
    }

    .link__text {
      transition: all 300ms;
      color: #b4b4b4;
      font-weight: 500;
      font-size: 15px;

      &:hover {
        color: #FFFFFF;
        text-shadow: #FFFFFF 1px 0 10px;
      }
    }
  }
}

.logo {
  display: flex;
  align-items: center;
  gap: 20px;

  a,
  #webring {
    text-decoration: none;
    width: 35px;
    height: 35px;
  }

  #logo {
    width: 20px;
  }
}