.experience {
    margin: 0 auto;
    width: 1024px;
    margin-bottom: 10rem;
    
    .header {
        margin-bottom: 3rem;
        text-align: center;
    }

    .work {
        margin-bottom: 5rem;
        display: flex;
        flex-direction: column;
        gap: 20px;
        
        .workHeader {
            text-align: left;
        }
    }

    @media screen and (max-width: 1024px) {
        width: 768px;
    }

    @media screen and (max-width: 768px) {
        width: 100%;
        padding: 0 10px;
    }
}